body {
  margin: 0;
  padding: 0;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#renderDiv {
  width: 600px;
  height: 600px;
  margin: auto;
}